/*
    FOOTER
*/

footer {
    background-color: #6D6F8C;
    height: 15rem;

    p {
        color: #fff;
    }
}

.footer_section {
    margin: 0 auto;
    width: 55%;
    display: flex;
    justify-content: space-between;
    padding-top: 4rem;
    align-items: center;

    img {
        width: 9rem;
    }
}

.footer_list {
    display: flex;
    justify-content: center;
    flex-direction: column;
    line-height: 2rem;
}

.social_media_section {
    

    p {
        padding-bottom: 1rem;
    }

    ul {
        display: flex;
        justify-content: space-between;

        svg {
            width: 30px;
            height: 30px;
        }
    }
}

// .newsletter {
//     display: flex;
//     flex-direction: column;

//     label {
//         color: #fff;
//         padding-bottom: 1rem;
//         font-family: 'Open Sans', sans-serif;
//     }

//     input {
//         background-color: #fff;
//         border-radius: 0.5rem;
//         color: #000;
//         width: 12rem;
//         height: 1.5rem;
//         font-size: 1rem;
//         font-family: 'Open Sans', sans-serif;
//     }
// }