/*
    ALLGEMEIN
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
    overflow: hidden;
}

a {
    border-bottom: 1px solid transparent;
}

a:hover {
    border-bottom: 1px solid #fff;
}

.nav_link,
.footer_link {
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
    font-family: 'Open Sans', sans-serif;
}

h1 {
    text-align: center;
    font-family: 'PT Mono', monospace;
    font-size: 2.5rem;
    color: #fff;
    padding: 8rem 0 8rem 0;
}

h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 2rem;
}

h3 {
    font-family: 'Raleway', sans-serif;
    font-size: 1.6rem;
}

p {
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
}

label {
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    
}

input {
    font-size: 1rem;
    font-family: 'Open Sans', sans-serif;
}

.form_item {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding-bottom: 1.5rem;
}

select::-ms-expand {
    display: none;
}

select:focus::-ms-value {
    background-color: transparent;
  }

select {
    cursor: pointer;
    background-color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    width: 15rem;  
}

button {
    width: 8rem;
    height: 3rem;
    font-family: "Open Sans", sans-serif;
    font-size: 1rem;
    color: #fff;
    background-color: #6D6F8C;
    border-radius: 10%;
    text-align: center;
    margin: 0 auto;
    font-size: 1rem;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
}
