/*
    HEADER
*/

header {
    background-color: #6D6F8C;
    position: relative;
}

nav {
    padding-bottom: 1.5rem;

    ul {
        align-items: center;
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        width: 50%;
        padding-top: 2rem;
        height: 5rem;
    }

    .admin {
        position: absolute;
        top: 2.5rem;
        right: 2rem;

        p { 
            color: #fff;
        }

        a {
            color: #6D6F8C;
            background-color: #fff;
            border-radius: 0.5rem;
            text-decoration: none;
            padding: 0.5rem;
        }
    }

    #sign_up {
        color: #6D6F8C;
        background-color: #fff;
        border-radius: 0.5rem;
        text-decoration: none;
        padding: 0.5rem;
    }

}

#logo {
    width: 140px;
    position: absolute;
    top: 1rem;
    left: 6rem;
}

#svg_animation {
    width: 30px;
    height: 30px;
}

.sticky {
    position: fixed;
    top: 0;
    background-color: #6D6F8C;
    transition: all 0.3s ease-out;
    width: 100%;
}





