/*
    HEADER
*/

header {
    background-color: #6D6F8C;
}

nav {
    padding-top: 1rem; 

    ul {
        align-items: center;
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        width: 50%;
    }

    .logout {
        text-align: right;
        padding: 1rem 1rem 0.5rem 0;

        p { 
            color: #fff;
        }

        a {
            border-bottom: 1px solid #fff;
        }
    }

}

#logo {
    width: 140px;
}

#svg_animation {
    width: 30px;
    height: 30px;
}

