/*
    MAIN HOME
*/

.first_main { 
    display: flex;
    align-items: center;
    padding: 4rem 0 4rem 0;
    margin: 0 auto;
    width: 80%;
}

.napue_wrap {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;

    h2 {
        padding-bottom: 2rem;
        color: #6D6F8C;
    }
    
    p {
        margin: 0 auto;
        width: 70%;
        padding-bottom: 2rem;
    }
}

.button {
    width: 8rem;
    height: 3rem;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    color: #fff;
    background-color: #6D6F8C;
    border-radius: 0.5rem;
    text-decoration: none;
    padding-top: 0.8rem;
    text-transform: uppercase;
}

/*
    MAIN PRODUCTS
*/


.second_main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: 80%;

    h2 {
        padding: 2rem 0;
        color: #6D6F8C;
    }
}

.items {
  
    margin: 0 auto;
    width: 80%;

    .item {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-around;
        padding-bottom: 3rem;

        img {
            width: 25rem;
        }
    }

    .item:nth-child(odd) {
         flex-direction: row-reverse;
    }

    .item_section {
        text-align: center;
        width: 50%;
        padding: 2rem 2rem; 
        box-shadow: 0px 0px 40px 1px rgba(0,0,0,0.37);
        
        p {
            padding: 2rem 0;
            line-height: 1.2rem;
        }

        a {
            text-decoration: none;
            background-color: #6D6F8C;
            padding: 0.5rem 2rem;
            text-transform: uppercase;
            color: #fff;
            border-radius: 10%;
            font-family: 'Open Sans', sans-serif;
            font-size: 1rem;
        }

    }
}

/*
    MAIN DETAILS
*/

.detail_main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: 60%;
    padding: 2rem 0;
}

.gin_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    width: 80%;

    img {
        width: 25rem;
    }

    p {
        padding: 1.5rem 0;
    }

    a {
        text-decoration: none;
        background-color: #6D6F8C;
        padding: 0.5rem 2rem;
        text-transform: uppercase;
        color: #fff;
        border-radius: 10%;
        font-family: 'Open Sans', sans-serif;
        font-size: 1rem;
    }
}

.similar_header {
    padding-top: 2rem;
    font-size: 1.3rem;
    color: #6D6F8C;
}

.similar_product {
    display: flex;
    align-items: center;
    text-align: center;

    .similar_items {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    a {
        padding: 1rem 0;
        text-decoration: none;
    }

    img {
        width: 200px;
    }
}

/*
    CART MAIN
*/
.cart_cart {
    min-height: calc(100vh - 20rem);
}

.cart_header {
    text-align: center;
    padding: 2rem 0;
}

.cart_main {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 70%;



    .cart_list {
        font-family: 'Open Sans', sans-serif;
        width: 70%;

        .hidden {
            visibility: hidden;
        }
        
        .item_left {
            text-align: left;
        }
        
        img {
            //width: 100%;
            padding: 0.5rem 0;
        }
        
        th,
        td {
            text-align: center;
        }

        th {
            font-size: 1.2rem;
            color: #6D6F8C;
            padding: 0 0.5rem;
        }
        
        td {
            vertical-align: middle;
            text-align: center;
            border-bottom: 1px solid #ddd;
        }

        a {
            text-decoration: none;

        }
    }
}


.summary {
    display: flex;
    flex-direction: column;
    background-color: gainsboro;
    height: 20rem;
    width: 18rem;

    h3 {
        padding: 2rem 0 2rem 2rem;
    }

    div {
        display: flex;
        justify-content: space-between;

        span {
            padding-right: 1rem;
            font-family: "Raleway", sans-serif;
            font-size: 1rem;
        }
    }

    p {
        padding-bottom: 1.5rem;
        padding-left: 2rem;
    }

    .total_border {
        border-top: 1px solid #000;
        padding-top: 0.5rem;
    
    }

    // p:nth-child(odd) {
    //     padding-bottom: 3.5rem;
    //     border-top: 1px solid #000;
    // }

    a {
        width: 8rem;
        height: 3rem;
        font-family: "Open Sans", sans-serif;
        font-size: 1rem;
        color: #fff;
        background-color: #6D6F8C;
        border-radius: 0.5rem;
        text-decoration: none;
        padding-top: 0.7rem;
        text-align: center;
        margin: 0 auto;
        font-size: 1rem;
        font-family: 'Open Sans', sans-serif;
        text-transform: uppercase;
    }
}

/*
    LOGIN MAIN
*/

.login_login {
    min-height: calc(100vh - 20rem);
}

.login_main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: 60%;
    padding: 2rem 0;

    h3 {
        padding-bottom: 2rem;
        color: #6D6F8C;
    }

    form {
        text-align: center;
    }

    label {
        color: rgb(172, 170, 170);
        padding-top: 2rem; 
    }

    input {
        border: none;
        border-bottom: 1px solid #6D6F8C;
        background-color: #fff;
        padding: 1rem 0 0.2rem 0.5rem;
        width: 15rem;
        margin: 1rem 0;
    }

    #password {
        margin-bottom: 2.5rem;
    }
}

/*
    ADDRESS FORMULAR
*/

.address_main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: 60%;
    padding: 2rem 0;

    h3 {
        padding: 2rem 0;
    }

    input {
        border: none;
        border-bottom: 1px solid #6D6F8C;
        background-color: #fff;
        padding: 0.3rem 0 0.2rem 0.5rem;
        width: 15rem;
    }

    .select_label {
        padding-bottom: 1rem;
    }

}

/*
    ADMIN
*/

.admin_admin {
    min-height: calc(100vh - 20rem);
}

/*
    ADMIN LIST
*/

.admin_list {
    margin: 0 auto;
    width: 80%;
    padding-top: 3rem;

    .add_product {
        text-align: center;
    }

    .add_btn {
        font-size: 1rem;
        font-family: 'Open Sans', sans-serif;
        text-transform: uppercase;
        text-decoration: none;
        color: #fff;
        background-color: #6D6F8C;
        border-radius: 0.5rem;
        padding: 0.7rem;
    }

    .admin_item {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        padding: 3rem 0;
        width: 40%;
        margin: 0 auto;

        .admin_container {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 1rem 0;

            p {
                font-size: 1.2rem;
            }

            a {
                text-decoration: none;

                span {
                    color: #000;
                    font-family: 'Raleway', sans-serif;
                    padding-left: 0.5rem;
                }
            }
        }
    }
}
