/*
    MAIN HOME
*/

.first_main { 
    display: flex;
    align-items: center;
    padding: 4rem 0 4rem 0;
    margin: 0 auto;
    width: 80%;
}

.napue_wrap {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;

    h2 {
        padding-bottom: 2rem;
        color: #6D6F8C;
    }
    
    p {
        margin: 0 auto;
        width: 70%;
        padding-bottom: 2rem;
    }
}

.button {
    width: 8rem;
    height: 3rem;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    color: #fff;
    background-color: #6D6F8C;
    border-radius: 0.5rem;
    text-decoration: none;
    padding-top: 0.8rem;
    text-transform: uppercase;
}

/*
    MAIN PRODUCTS
*/


.second_main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: 80%;

    h2 {
        padding: 2rem 0;
        color: #6D6F8C;
    }
}

.items {
  
    margin: 0 auto;
    width: 80%;

    .item {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-around;
        padding-bottom: 3rem;

        img {
            width: 25rem;
        }
    }

    .item:nth-child(odd) {
         flex-direction: row-reverse;
    }

    .item_section {
        text-align: center;
        width: 50%;
        padding: 2rem 2rem; 
        box-shadow: 0px 0px 40px 1px rgba(0,0,0,0.37);
        
        p {
            padding: 2rem 0;
            line-height: 1.2rem;
        }

        a {
            text-decoration: none;
            background-color: #6D6F8C;
            padding: 0.5rem 2rem;
            text-transform: uppercase;
            color: #fff;
            border-radius: 10%;
            font-family: 'Open Sans', sans-serif;
            font-size: 1rem;
        }

    }
}

/*
    MAIN DETAILS
*/

.detail_main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: 60%;
    padding: 2rem 0;
}

.gin_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    width: 80%;

    img {
        width: 25rem;
    }

    p {
        padding: 1.5rem 0;
    }

    a {
        text-decoration: none;
        background-color: #6D6F8C;
        padding: 0.5rem 2rem;
        text-transform: uppercase;
        color: #fff;
        border-radius: 10%;
        font-family: 'Open Sans', sans-serif;
        font-size: 1rem;
    }
}

.similar_header {
    padding-top: 2rem;
    font-size: 1.3rem;
    color: #6D6F8C;
}

.similar_product {
    display: flex;
    align-items: center;
    text-align: center;

    .similar_items {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    a {
        padding: 1rem 0;
        text-decoration: none;
    }

    img {
        width: 200px;
    }
}

/*
    CART MAIN
*/
.cart_cart {
    min-height: calc(100vh - 20rem);

    .cart_empty {
        color: #6D6F8C;
        font-family: 'PT Mono', sans-serif;
        text-align: center;
        line-height: 5rem;
        padding-top: 5rem;
    }
}

.cart_header {
    text-align: center;
    padding: 2rem 0;
}

.cart_main {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 70%;



    .cart_list {
        font-family: 'Open Sans', sans-serif;
        width: 70%;

        .hidden {
            visibility: hidden;
        }
        
        .item_left {
            text-align: left;
        }
        
        img {
            width: 10rem;
            padding: 0.5rem 0;
        }
        
        th,
        td {
            text-align: center;
        }

        th {
            font-size: 1.2rem;
            color: #6D6F8C;
            padding: 0 0.5rem;
        }
        
        td {
            vertical-align: middle;
            text-align: center;
            border-bottom: 1px solid #ddd;
        }

        a {
            text-decoration: none;

        }
    }
}


.summary {
    display: flex;
    flex-direction: column;
    background-color: gainsboro;
    height: 20rem;
    width: 18rem;

    h3 {
        padding: 2rem 0 2rem 2rem;
    }

    div {
        display: flex;
        justify-content: space-between;

        span {
            padding-right: 1rem;
            font-family: "Raleway", sans-serif;
            font-size: 1rem;
        }
    }

    p {
        padding-bottom: 1.5rem;
        padding-left: 2rem;
    }

    .total_border {
        border-top: 1px solid #000;
        padding-top: 0.5rem;
    
    }

    // p:nth-child(odd) {
    //     padding-bottom: 3.5rem;
    //     border-top: 1px solid #000;
    // }

    a {
        width: 8rem;
        height: 3rem;
        font-family: "Open Sans", sans-serif;
        font-size: 1rem;
        color: #fff;
        background-color: #6D6F8C;
        border-radius: 0.5rem;
        text-decoration: none;
        padding-top: 0.7rem;
        text-align: center;
        margin: 0 auto;
        font-size: 1rem;
        font-family: 'Open Sans', sans-serif;
        text-transform: uppercase;
    }
}

/*
    LOGIN MAIN
*/

.login_login {
    min-height: calc(100vh - 20rem);
}

.login_main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: 60%;
    padding: 2rem 0;

    h3 {
        padding-bottom: 2rem;
        color: #6D6F8C;
    }

    form {
        text-align: center;
    }

    label {
        color: rgb(172, 170, 170);
        padding-top: 2rem; 
    }

    input {
        border: none;
        border-bottom: 1px solid #6D6F8C;
        background-color: #fff;
        padding: 1rem 0 0.2rem 0.5rem;
        width: 15rem;
        margin: 1rem 0;
    }

    #password {
        margin-bottom: 2.5rem;
    }
}

/*
    SIGN UP FORMULAR
*/

.signup_header {
    text-align: center;
    padding: 2rem 0;
    color: #6D6F8C;
}

.error{
    color: red;
    text-align: center;
} 

.signup_main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: 60%;
    padding-bottom: 2rem;

    label {
        color: rgb(172, 170, 170);
        padding-top: 2rem; 
    }

    input {
        border: none;
        border-bottom: 1px solid #6D6F8C;
        background-color: #fff;
        padding: 1rem 0 0.2rem 0.5rem;
        width: 15rem;
        margin: 1rem 0;
    } 
}

/*
    ADDRESS FORMULAR & PAY FORMULAR
*/

.address_main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: 60%;
    padding: 2rem 0;

    h3 {
        padding: 2rem 0;
    }

    input {
        border: none;
        border-bottom: 1px solid #6D6F8C;
        background-color: #fff;
        padding: 0.3rem 0 0.2rem 0.5rem;
        width: 15rem;
    }

    .select_label {
        padding-bottom: 1rem;
    }

}

/*
    SUMMARY
*/

.summary_main {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 60%;
    padding: 2rem 0;

    .order_summary {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 2rem 0;
        border-bottom: 1px solid #ddd;

        .container_img {
            display: flex;
            align-items: center;

            p,
            span {
                padding-left: 2rem;
            }
        }
    }
    
    .price_summary {
        padding: 2rem 0;

        .price_item {
            display: flex;
            justify-content: flex-end;
    
            .flex_base {
                flex-basis: 50%;
                text-align: right;
            }
        }

        .price_item:nth-child(2) {
            padding: 2rem 0;
        }

        .price_item:last-child {
            padding-top: 2rem;
            border-top: 1px solid #ddd;
            border-width: 50%;

            span {
                font-size: 1.4rem;
            }
        }
    }

    .information {
        display: flex;
        padding: 2rem 0;

        .shipping_summary,
        .payment_summary {
            flex-basis: 50%;

            h2 {
                padding-bottom: 1.5rem;
            }

            p {
                padding-bottom: 1rem;
            }
        }

    }

    a {
        font-family: "Open Sans", sans-serif;
        font-size: 1rem;
        color: #fff;
        background-color: #6D6F8C;
        border-radius: 0.5rem;
        text-decoration: none;
        padding: 0.7rem;
        margin: 0 auto;
        text-transform: uppercase;
    }
    
}

/*
    THANK YOU
*/

.thanks_thanks {
    text-align: center;

    h2 {
        padding: 2rem 0;
        font-family: 'PT Mono', sans-serif;
    }

    .thanks {

        img {
            width: 100vw;
            height: 70vh;
        }
    }   
}


/*
    ADMIN
*/

.admin_admin {
    min-height: calc(100vh - 20rem);
    display: flex;
    align-items: center;
    padding: 2rem 0;

    .admin_header {
        flex-basis: 50%;
        text-align: center;

        h2 {
            color: #6D6F8C;
            font-size: 2.5rem;
            font-family: 'PT Mono', sans-serif;
            padding-bottom: 2.5rem;
        }

        .admin_svg {
            display: flex;
            justify-content: space-evenly;
        }

        svg {
            width: 50px;
            height: 50px;
        }
        
    }

    .admin_img {
        flex-basis: 50%;

        img {
            width: 50vw;
        }
    }

}

/*
    PRODUCTS LIST
*/

.admin_list {
    margin: 0 auto;
    width: 80%;
    padding-top: 3rem;

    h3 {
        text-align: center;
    }

    .add_btn {
        font-size: 1rem;
        font-family: 'Open Sans', sans-serif;
        text-transform: uppercase;
        text-decoration: none;
        color: #fff;
        background-color: #6D6F8C;
        border-radius: 0.5rem;
        padding: 0.7rem;
    }

    .admin_item {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        padding: 3rem 0;
        width: 40%;
        margin: 0 auto;

        .admin_container {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 1rem 0;

            img {
                width: 10rem;
            }

            p {
                font-size: 1.2rem;
            }

            a {
                text-decoration: none;

                span {
                    color: #000;
                    font-family: 'Raleway', sans-serif;
                    padding-left: 0.5rem;
                }
            }
        }
    }
}

/*
    PRODUCT EDIT & PRODUCT ADD
*/


.edit_add_header {
    padding: 2rem 0;
    text-align: center;
}
.edit_add_main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: 60%;
    padding: 2rem 0;

    label {
        padding: 1rem 0;
    }

    input {
        border: none;
        border-bottom: 1px solid #6D6F8C;
        background-color: #fff;
        padding: 0.3rem 0 0.2rem 0.5rem;
        width: 15rem;
    }

    textarea {
        width: 15rem;
    }

    .img_save {
        display: flex;
        flex-direction: column;
        text-align: left;
        padding-bottom: 1.5rem;

        input {
            width: 22rem;
            border: none;
        }
    }

    .img_delete {
        display: flex;
        flex-direction: column;

        .input_delete {
            display: flex;
            justify-content: space-evenly;

            input {
                width: 1rem;
            }
        }

    }

    
}

/*
    USERS LIST
*/

.user_user {
    min-height: calc(100vh - 20rem);
}

/*
    ORDER LIST
*/

.order_order {
    min-height: calc(100vh - 20rem);

    h3 {
        padding: 3rem 0;
        text-align: center;
    }

    .order_main {
    
        .order_list {
            font-family: 'Open Sans', sans-serif;
            width: 90%;
            margin: 0 auto;
            
            th,
            td {
                text-align: center;
                padding: 1rem 0;
            }
    
            th {
                font-size: 1.2rem;
                color: #6D6F8C;
                border-bottom: 1px solid #ddd;
            }
            
            td {
                vertical-align: middle;
                text-align: center;
                border-bottom: 1px solid #ddd;
            }
        }
    }

}
