
$primary-color: #fff;
$primary-size: 1.5rem;
$primary-font: 'PT Mono', monospace;

$second-color: #000;
$second-size: 1.1rem;
$second-font: 'Open Sans', sans-serif;

$third-color: #000;
$third-size: 1.8rem;
$third-font: 'Open Sans', sans-serif;


$txt-color: #000;
$txt-size: 1rem;
$txt-font: 'Open Sans', sans-serif;
$txt-height: 1.8rem;

$link-color: #fff;
$link-size: 1rem;
$link-font: 'Open Sans', sans-serif;
